#experience {
    .codeit-tiles-tile {
        opacity: 0;
    }

    @include media-breakpoint-down(lg) {  
        .codeit-tiles {
            &-tile {
                width: 100%;
                flex: 0 0 auto;
            }
        }
    }
}