@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?dbsn7b') format('truetype'),
    url('fonts/icomoon.woff?dbsn7b') format('woff'),
    url('fonts/icomoon.svg?dbsn7b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e908";
}
.icon-menu-skills:before {
  content: "\e906";
}
.icon-menu-timeline:before {
  content: "\e907";
}
.icon-svelte:before {
  content: "\e904";
  color: #ff3e00;
}
.icon-menu-contact:before {
  content: "\e909";
}
.icon-heart:before {
  content: "\e905";
}
.icon-envelope-o:before {
  content: "\e903";
}
.icon-checkmark:before {
  content: "\e902";
}
.icon-check-alt:before {
  content: "\e901";
}
.icon-mouse:before {
  content: "\e900";
}
.icon-portfolio-item:before {
  content: "\e924";
}
.icon-menu-portolio:before {
  content: "\e925";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
