@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?dbsn7b') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?dbsn7b') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?dbsn7b##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-menu-skills {
  &:before {
    content: $icon-menu-skills; 
  }
}
.icon-menu-timeline {
  &:before {
    content: $icon-menu-timeline; 
  }
}
.icon-svelte {
  &:before {
    content: $icon-svelte;     
    color: #ff3e00;
  }
}
.icon-menu-contact {
  &:before {
    content: $icon-menu-contact; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-envelope-o {
  &:before {
    content: $icon-envelope-o; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-check-alt {
  &:before {
    content: $icon-check-alt; 
  }
}
.icon-mouse {
  &:before {
    content: $icon-mouse; 
  }
}
.icon-portfolio-item {
  &:before {
    content: $icon-portfolio-item; 
  }
}
.icon-menu-portolio {
  &:before {
    content: $icon-menu-portolio; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-linkedin2 {
  &:before {
    content: $icon-linkedin2; 
  }
}
.icon-stackoverflow {
  &:before {
    content: $icon-stackoverflow; 
  }
}

