$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./src/scss/icons/fonts/" !default;

$icon-svelte: "\e904";
$icon-heart: "\e905";
$icon-envelope-o: "\e903";
$icon-checkmark: "\e902";
$icon-check-alt: "\e901";
$icon-mouse: "\e900";
$icon-whatsapp: "\ea93";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";
$icon-stackoverflow: "\ead0";

