#site-nav {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 0;
    width: 100%;
    z-index: 120;

    ul {
        position: relative;
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 0;
        gap: 1rem;
        padding: .75rem 1.5rem;

        border-radius: 120px;
        box-shadow: 3px 3px 25px rgba(0, 0, 0, .6);

        li {
            position: relative;
            z-index: 1;

            a {
                color: $white;
                display: block;
                text-decoration: none;
                padding: .75rem 1rem .65rem;
                border-radius: 50%;
                font-size: 1.2rem;
                transition: .12s all ease-in-out;

                &:hover {
                    background-color: rgba($secondary, .2);
                }
            }
        }
    }
}