.codeit-timeline {
    &-item {
        display: flex;
        gap: 2rem;
    }

    &-date {
        position: relative;
        min-width: 150px;
        text-align: right;
        border-right: 4px solid $primary;
        padding-right: 2rem;
        line-height: 1.4rem;

        &::before,
        &::after {
            position: absolute;
            content: " ";
            border-radius: 50%;
        }

        &::after {
            background-color: $primary;
            height: 20px;
            width: 20px;
            right: -12px;
            z-index: 1;
        }

        &::before {
            background-color: lighten($primary, 25);
            height: 14px;
            width: 14px;
            right: -9px;
            top: 3px;
            z-index: 2;
        }
    }

    &-title {
        display: block;
        color: $white;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    &-body {
        padding-bottom: 2rem;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: .5rem;
        flex-wrap: wrap;
        margin-top: .5rem;

        li {
            background-color: $primary;
            color: $secondary;
            font-size: .8rem;
            font-weight: 600;
            padding: .2rem .5rem;
            border-radius: 5px;
            box-shadow: 2px 2px 8px -4px darken($primary, 24);
        }
    }
}