.btn {
    box-shadow: none;
    border-radius: 10px;

    &-outline {
        &-secondary {
            &:hover {
                background-color: rgba($secondary, .2);
                color: $white;
            }
        }
    }
}