.card {
    background-color: transparent;
    border: none;
    border-radius: 30px;

    &:nth-child(odd) {
        .card-body {
            margin-left: -3rem;
        }

        .card-title {
            text-align: right;
        }
    }

    &:nth-child(even) {
        .card-body {
            margin-right: -3rem;
        }
    }

    &-img {
        border-radius: 15px;
        box-shadow: 0 10px 30px -15px darken($primary, 25);

        &-overlay {
            position: relative;
            display: block;
            padding: 0;

            &::before {
                background-color: darken($secondary, 30);
                position: absolute;
                content: " ";
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                border-radius: 15px;
                mix-blend-mode: overlay;
            }
        }
    }

    &-img-top {
        border-radius: 15px;
    }

    &-title {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;

        small {
            font-size: 1rem;
            font-family: consolas;
            color: $secondary;
            margin-bottom: .5rem;
        }
    }

    &-body {
        position: relative;
        background-color: $primary;
        border-radius: 15px;
        align-self: center;
        box-shadow: 0 10px 30px -15px darken($primary, 25);
        z-index: 2;
    }
}