#footer {
    background-color: $secondary;
    margin-top: 5rem;
    padding: 2rem;
    color: $dark;

    .fs-1,
    .fs-2,
    .fs-3,
    .fs-4,
    .fs-5 {
        font-family: $headings-font-family;
    }
}