.codeit-section {
    &-container {
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-center;
    }

    &-header {
        text-align: center;
        padding: 3rem 0;

        span {
            font-family: $font-family-monospace;
            color: $text-muted;
        }

        h1 {
            margin: .3rem 0;
        }

        &-buttons {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            margin-top: 3rem;
        }
    }
}

.codeit-social {
    a {
        text-decoration: none;

        &:last-child {
            position: relative;

            &::after {
                position: absolute;
                background-color: $secondary;
                content: " ";
                height: 3rem;
                width: 1px;
                top: calc(100% + 1.2rem);
                left: calc(50% - 1px);
                transform: translate(0 -50%);
            }
        }
    }
}