.codeit-section {
    &-container {
        @extend .d-flex;
        @extend .flex-column;
        @extend .justify-content-center;
    }

    &-header {
        text-align: center;
        padding: 3rem 0;

        span {
            color: $text-muted;
        }

        h1 {
            margin: .3rem 0;
        }

        &-buttons {
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            margin-top: 3rem;
        }
    }
}

.codeit-social {
    a {
        text-decoration: none;
    }
}