.codeit-tiles {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    &-tile {
        flex: 1;
        background-color: $primary;
        border-radius: 15px;
        padding: 1.5rem;
        box-shadow: 3px 3px 15px darken($primary, 24);

        &-header {
            text-align: center;
            margin: 1.5rem 0 3rem;

            h1,
            h2,
            h3 {
                margin: 0;
                //color: $secondary;
                color: lighten($secondary, 5);
                //color: lighten($primary, 25);
            }
        }
    }
}