h1 {
    height: 2.3rem;
}

.tb {
    writing-mode: tb;
}

b,
strong {
    color: $white;
}

.text-purple {
    color: $purple;
}

.ff-monospace {
    font-family: $font-family-monospace !important;
    text-decoration: none !important;
    font-size: .9rem;
}